.qrback {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 1000001;
  -moz-opacity: 0.8;
  opacity: .80;
}

.qrframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000002;
}

.qrcode {
  display: block;
  user-select: none;
  padding: 10px;
  border: 1px solid skyblue;
  background-color: white;
  overflow: auto;
  border-radius: 6px;
}

.qrlogo {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 6px;
}

.qrerr {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 24px;
  background-color: red;
  color: yellow;
  padding: 30px 10px;
  border: 1px solid yellow;
  border-radius: 6px;
}
